.popup{
    position: absolute;
    top : 0;
    left : 0;
    width : 110%;
    background-color: rgba(27, 27, 28, 0.05);
    height : 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    overflow: hidden;
    display: flex;
    margin-top:0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 16px;
    width: 100%;
    height : auto;
    max-width: 1100px;
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-collapse: collapse;
    max-height: 1200px;
}

.close-btn{
position: absolute;
top: 0px;
right:0px;
width: 60px;
max-height: 30px;
background-color: transparent;
opacity: 1;
font-size: relative;
font-weight: 700;
line-height: 1;
color : #000;
padding: 0 15px;
height: 43px;
cursor: pointer;
}
.close-btn:hover{
    opacity: 0.5;
    background-color:rgb(216, 18, 18)
}

button{
    width: auto;
}
.top-con{
    overflow: hidden;
    margin-top: -17px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width : 103%;
    height: 30px;
}



